.pane, .list-cell {
    -fx-background: #333;
    -fx-background-color: #333;
    -fx-border-width: 0;
}

.pane {
    -fx-padding: 0;
}

.list-cell:selected {
    -fx-background: #222;
    -fx-background-color: #222;
}

.split-pane .split-pane-divider {
    -fx-background-color: #222;
}

.menu-bar { -fx-background-color: #222; }
.menu .label { -fx-text-fill: #AAA; }
.menu:hover, .menu:showing { -fx-background-color: #111; }

.menu-item {
    -fx-min-width: 330px;
    -fx-pref-width: 330px;

    -fx-background-color: #222;
    -fx-border-width: 0;
}

.menu-item:hover {
    -fx-background-color: #2A2A2A;
}

.menu-item > .label {
    -fx-padding: 0 120px 0 0;
}

.menu-item .accelerator-text {
    -fx-text-fill: #777;
}

.context-menu {
    -fx-background-color: #222;
}

.cell-drag-over-top {
    -fx-border-width: 4 0 0 0;
    -fx-border-color: #2A2A2A;
}

.cell-drag-over-bottom {
    -fx-border-width: 0 0 4 0;
    -fx-border-color: #2A2A2A;
}

.layer-box > .pane {
    -fx-min-width: 50;
    -fx-pref-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 50;
    -fx-pref-height: 50;
    -fx-max-height: 50;

    -fx-padding: 4;
    -fx-background: #222;
    -fx-background-color: #222;
}

.layer-box > .text-field {
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

    -fx-background: #2A2A2A;
    -fx-background-color: #2A2A2A;
    -fx-background-radius: 0;

    -fx-text-fill: #AAA;

    -fx-padding: 15;
}

.layer-box > .text-field:readonly {
    -fx-border-width: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-padding: 0;

    -fx-background: #2A2A2A;
    -fx-background-color: #2A2A2A;
}

.scroll-bar > .thumb {
    -fx-background: #444;
    -fx-background-color: #444;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background: #555;
    -fx-background-color: #555;
}

.scroll-bar > .thumb:pressed {
    -fx-background: #3A3A3A;
    -fx-background-color: #3A3A3A;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5;
    -fx-border-insets: 5;
    -fx-background-insets: 5;

    -fx-background: #222;
    -fx-background-color: #222;
}