.pane {
    -fx-background: #333;
    -fx-background-color: #333;
    -fx-border-width: 0;
    -fx-padding: 10;

    -fx-pref-width: 300;
}

.text-field, .button {
    -fx-border-width: 0;
    -fx-border-radius: 0;

    -fx-background-radius: 0;
    -fx-background: #222;
    -fx-background-color: #222;

    -fx-text-fill: #AAA;
}

.button:hover {
    -fx-background: #2A2A3A;
    -fx-background-color: #2A2A3A;
}

.text-field {
    -fx-padding: 10;
    -fx-background-insets: 5;
}

.field-label {
    -fx-padding: 0 0 -5 5;

    -fx-text-fill: #888;
    -fx-font-size: 12;
}